.body{  
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/brSKyMR4/react-01-01.png);
    background-position: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
}

.header__image-container{
    display: flex;
    max-width: 256px;
    border-radius: 50%;
    overflow: hidden;

}
.header__image{
    width: 100%;

}

.footer{
    display: flex;
}
.footer-nav{
    display: flex;
}

.footer-nav-container{
    display: flex;
}

.footer-navlink-list{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    list-style: none;

}


.footer-navlink{
    display: flex;
    width: 1.75rem;
}

.footer-navlink-image{
    width: 100%;
}

